*{
  
  margin: 0;
  padding: 0;

}

.container{
  background-color: rgb(83, 161, 165);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.content{
  background-color: rgba(82, 158, 196, 0.953);
  padding: 20px;
  width: 95%;
}

.add a{
  text-decoration: none;
  background-color: rgb(131, 131, 199);
  color: aliceblue;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
}


table{

  background-color: #242424a7;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  margin-left: auto;
  margin-right:auto ;
  text-align: center;

  
}

.table thead tr th{
 
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  margin: auto;

}

.table tbody tr td{
 
  padding: 10px;
  margin: auto;

}





.del_btn{

  text-decoration: none;
  background-color: rgb(255, 68, 68);
  color: white;
  padding: 5px;
  border-radius: 5px;
  
}

.del_btn:hover{

  background-color: rgb(255, 100, 100);
}

.update_btn{

text-decoration: none;
background-color: rgb(0, 156, 96);
color: white;
padding: 5px;
border-radius: 5px;
}

.update_btn:hover{
background-color: rgb(0, 179, 110);

}

