*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  } 
  
  body{background-color:rgb(36, 141, 194)

  }
  
  
  .container{
    background-color: rgb(121, 192, 218);
    border: 1px solid rgb(60, 161, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100vh;
  }
  
  .content{
    background-color: rgb(67, 128, 142);
    padding: 30px;
    border: 1px solid rgb(41, 104, 152);
    border-radius: 10px;
  }

  /* input{
    text-align: center;
  } */

  form{
    background-color: rgb(93, 203, 231);
    color: white;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
  } 

/* 
  .text p{

    text-align: center;

} */

.text{

    background-color: rgb(72, 72, 72);
    color: white;
    font-size: 3rem;
    padding: 30px 40px 10px 40px;
    border-radius: 10px;
    
}

.item{

    /* background-color: red; */
    padding: 10px;
    margin-top: 10px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item input{

    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 40px;
    font-size: 1.1rem;
}

.reg_btn button{

    width: 100%;
    padding: 10px;
    border: 0;
    background-color:rgb(0, 62, 112);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
}

.reg_btn button:hover{

    background-color: rgb(0, 92, 167);
}

.mob::-webkit-inner-spin-button{

    -webkit-appearance: none;
}