*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.content{
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn{
    border: 1px solid;
    border-radius: 5px;
    background-color:lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    
}

.table thead{
    text-align: center;
    border: 1px solid;
    background-color: black;
    color: white;
 
}


thead th{
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    width: 300px;
}

.table tbody td a{
    border: 1px solid;
    border-radius: 5px;
}

.update{
    color: white;
    background-color: green;
    /* padding: 5px; */
    /* padding-left: 0.1px; */
}
.delete{
    color: white;
    background-color: red;
}



.table table tbody tr td{

    text-align: center;
}
